
@{
       Layout = null;
}
<div class="manu">
    <div id="mnuDashaboard" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Dashboard/Dashboard"><i class="fa fa-circle-o" aria-hidden="true"></i> Dashboard </a></li>
        </ul>
    </div>
    <div id="mnuMarketing" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li class="submenu"><a href="~/Inquiry/AllInquiry"><i class="fa fa-circle-o" aria-hidden="true"></i>  New Enquiry </a></li>
        </ul>
    </div>
    <div id="mnuMaster" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Customer/AllCustomer"><i class="fa fa-circle-o" aria-hidden="true"></i>  Customer </a></li>
            <li><a href="~/Vendor/AllVendor"><i class="fa fa-circle-o" aria-hidden="true"></i>  Vendor </a></li>
            <li><a href="~/GradeOfMaterial/AllGradeOfMaterial"><i class="fa fa-circle-o" aria-hidden="true"></i>  Grade Material </a></li>
            <li><a href="~/Section/AllSection"><i class="fa fa-circle-o" aria-hidden="true"></i>  Section </a></li>
            <li><a href="~/DieDescription/AllDieDescription"><i class="fa fa-circle-o" aria-hidden="true"></i>  Die List </a></li>
            <li><a href="~/Auth/AllUser"><i class="fa fa-circle-o" aria-hidden="true"></i>  User </a></li>
        </ul>
    </div>
    <div id="mnuPurchase" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/PORequisition/PORequisitionList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Purchase Requisition  </a></li>
            <li><a href="~/VendorPurchaseOrder/AllVPOList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Vendor Purchase Order </a></li>
            <li><a href="~/PORequisition/VendorResponse"><i class="fa fa-circle-o" aria-hidden="true"></i>  Vendor Response  </a></li>
            <li><a href="~/PurchaseOrder/NewPurchaseOrder"><i class="fa fa-circle-o" aria-hidden="true"></i>  Purchase Order  </a></li>
        </ul>
    </div>
    <div id="mnuPlanning" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Workorder/AllWorkorder"><i class="fa fa-circle-o" aria-hidden="true"></i>  Work Order </a></li>
            <li><a href="~/Workorder/ActiveWorkorder"><i class="fa fa-circle-o" aria-hidden="true"></i> Active Work Order   </a></li>
        </ul>
    </div>
    <div id="mnuProduction" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Cutting/AllCutting"><i class="fa fa-circle-o" aria-hidden="true"></i>  Cutting </a></li>
            <li><a href="~/Forging/FogingList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Forging </a></li>
            <li><a href="~/HeatTreatment/HeatTreatmentList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Heat Treatment </a></li>
        </ul>
    </div>
    <div id="mnuStock" style="display:none;" class="mnu">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/GoodsInward/AllGoodsInward"><i class="fa fa-circle-o" aria-hidden="true"></i>  Goods Inwards </a></li>
            <li><a href="~/GoodsIssued/AllGoodsIssued"><i class="fa fa-circle-o" aria-hidden="true"></i>  Goods  Issued</a></li>
            <li><a href="~/DeliveryChallan/AllDeliveryChallan"><i class="fa fa-circle-o" aria-hidden="true"></i>  Delivery Challan </a></li>
            <li><a href="~/DCForRMTest/DCForRMTest"><i class="fa fa-circle-o" aria-hidden="true"></i>  DC for RM Test </a></li>
        </ul>
    </div>
    <div id="mnuMyApprovals" class="mnu" style="display:none;">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/QuotationApproval/QuotationList"><i class="fa fa-circle-o" aria-hidden="true"></i> Quotations </a></li>
            <li><a href="~/RMRequisitionApproval/RMRequisitionList"><i class="fa fa-circle-o" aria-hidden="true"></i> Customer Purchase Order </a></li>
            <li><a href="~/RMRequisitionApproval/RMRequisitionList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Purchase Requisition </a></li>
            <li><a href="~/DieRequisitionApproval/DieRequisitionList"><i class="fa fa-circle-o" aria-hidden="true"></i>  Die Requisition </a></li>
            <li><a href="~/VendorPurchaseOrder/AllVendorPurchaseOrder"><i class="fa fa-circle-o" aria-hidden="true"></i>    Vendor Purchase Order </a></li>
        </ul>
    </div>
    <div id="mnuUser" class="mnu" style="display:none;">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Auth/UserPermission"><i class="fa fa-circle-o" aria-hidden="true"></i>  User Permission </a></li>
        </ul>
    </div>
    <div id="mnuReports" class="mnu" style="display:none;">
        <ul class="list-unstyledEnqFiter components marginTop5 paddingLeft15">
            <li><a href="~/Report/Reports"><i class="fa fa-circle-o" aria-hidden="true"></i>  Reports </a></li>
        </ul>
    </div>
</div>